body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;
  --b-50: Montserrat;

  /* font sizes */
  --font-size-5xl: 24px;
  --semib-32-size: 32px;
  --medium-18-spcline35-size: 18px;
  --b-50-size: 50px;
  --b-30-size: 28px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #cecccc;
  --textcolor: #9e9e9e;
  --color-gainsboro: #ece7e7;
  --color-black: #000;
  --color-darkslategray: #484848;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-21xl: 40px;
  --gap-101xl: 120px;
  --gap-51xl: 70px;
  --gap-5xl: 24px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-mini: 15px;
}
